doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        title
            | #{title}
        // build:css css/styles.css
        // bower:css
        // endbower
        link(type="text/css", rel="stylesheet", href="#{css_path}/styles.css")
        //endbuild
        link(href="#{img_path}/logo/apple-touch-icon-144-precomposed.png", sizes="144x144", rel="apple-touch-icon-precomposed")
        link(href="#{img_path}/logo/apple-touch-icon-114-precomposed.png", sizes="114x114", rel="apple-touch-icon-precomposed")
        link(href="#{img_path}/logo/apple-touch-icon-72-precomposed.png", sizes="72x72", rel="apple-touch-icon-precomposed")
        link(href="#{img_path}/logo/apple-touch-icon-57-precomposed.png", rel="apple-touch-icon-precomposed")
        link(href="#{img_path}/logo/favicon.png" rel="shortcut icon")
    body
        .content

            include ./layout/header

            block content

            include ./layout/footer

        include ../blocks/modals

        // build:js js/_all.js
        // bower:js
        // endbower
        // script(type="text/javascript", src="#{js_path}/layout.js")
        // endbuild
        // build:js js/_#{page_name}.js
        block javascript
        // endbuild